body {
	background-color: grey
};

h1 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 450px;
  font-style: italic;
};

nav#ul {
	font-family: "EB Garamond", serif;
	font-style: normal;
	font-weight: 400px;
};